<h1 style="text-align: center; margin-top: 20px;">Actualizar contenido</h1>
<form method="POST" action="/api/productos/guardar" style="max-width: 80%; max-height: 80%; margin: 20px auto;">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingTitle" placeholder="Title" name="title" required>
        <label for="floatingTitle">Title</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPrice" placeholder="Price" name="price" required>
        <label for="floatingPrice">Price</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingThumbnail" placeholder="Thumbnail" name="thumbnail" required>
        <label for="floatingThumbnail">Thumbnail</label>
    </div>
    <button onclick="refrescarListado()" type="sumbit" class="btn btn-info" style=" width: 100%;">Enviar</button>
</form>
<table class="table table-striped table-hover" style="width: 80%; margin: auto; text-align:center;">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody id="listado-productos">
        {{#if sinProductos}}
            <tr>
                <td></td>
                <td><h3>No hay productos para mostrar</h3></td>
                <td></td>
            </tr>
        {{else}}
            {{#each producto}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td><img src="{{this.thumbnail}}" alt="{{this.title}}"style="height: 30px;"></td>
                </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>